@tailwind base;
@tailwind components;
@tailwind utilities;

img.barn,
img.haze {
  max-width: inherit;
  transform: translate3d(0, 0, 0);
}

#haze::before {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 4096px;
  left: -50%;
  height: 100%;
  opacity: 1;
  background: url("/cloud_texture.webp") 0 0 repeat-x;
  transition-timing-function: ease-in-out;
}

@keyframes haze {
  000% { transform: translateX(0%); }
  025% { transform: translateX(50%); }
  075% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.fading {
  animation-duration: 2s;
  animation-name: fading;
}

@keyframes fading {
  from {
    color: rgb(16, 237, 93);
  }
  to {
    color: rgb(187 247 208);
  }
}